Maked by 박정환

In [1]:
print ("HelloWorld")

HelloWorld

# Python 연산자

## 산술연산자
- 사칙연산 및 증가 감소 연산을 할 수 있음
- +, - , / , * 등의 연산

In [2]:
a=20
b=40
c=6

In [3]:
print('a+b = ', a+b)

a+b =  60

In [4]:
print ('a-b = ', a-b)

a-b =  -20

In [5]:
print ('a*b = ', a*b)

a*b =  800

In [6]:
print('b/a = ', b/a)

b/a =  2.0

In [7]:
print('b % a =', b%a)

b % a = 0

In [8]:
print('a**c =', a**c) # 제곱근의 값 출력

a**c = 64000000

In [9]:
print('a // c = ', a//c) # 나눗셈의 몫 값 출력

a // c =  3

## 비교연산자
#### >, <, =
#### >=, <=, !=, ==

In [2]:
5> 10

False

In [3]:
10==10

True

In [4]:
3<2<10

False

In [5]:
3<5<10

True

### Q1: X=Y의 값이 같을때까지 반복해서 출력하시오.
#### (제한시간: 5분)

## 비트연산자
- &, ||, ^, ~

### Q2: 비트표현, 연산이 가능하신가요?

In [16]:
14 & 27
#10001110 and 00011011 = 00001010 (정수10)

10

In [17]:
14 | 27
# 00001110 or 00011011 = 00011111(정수31)

31

In [20]:
14 ^ 27
# 00001110 xor 00011011 = 00010101 (정수21)

21

In [21]:
~14
# 00001110 = 11110001 (정수-15)

-15

In [23]:
14 >> 2
# 00001110 = 00000011 (정수 3)

3

In [27]:
14 << 2 
# 00111000 = 32+16+8 = 56

56

In [36]:
data=5
data+=1
data

6

In [37]:
data=5
data-=5
data

0

In [38]:
data=5
data*=5
data

25

In [39]:
data=5
data/=5
data

1.0

## 형 변환 함수

- 정수를 문자열로 변환
- 정수를 복소수로 변환
- key, value 튜플의 순서로 사전을 만드는 경우 등등

In [58]:
x=10
type(10)

int

In [61]:
type(str(x))

str

In [62]:
s= "123"
type(s)

str

In [63]:
s+1

TypeError: Can't convert 'int' object to str implicitly

In [64]:
int(s)+1

124

In [66]:
ord('A')

65

In [67]:
ord('Z')

90

In [75]:
x=10
y=2
data=repr((x,y,(x+y,'one',x**y)))
data

"(10, 2, (12, 'one', 100))"

In [76]:
type(data)

str

### Q3. 다음의 값을 data값으로 생성하는데 data의 type은 list형식으로 생성하시오. 
- 단, a는 bin()함수를 사용, b는 oct()함수를 사용, c는 hex()함수를 사용하시오
> a=10
> b=20
> c=30

> 결과값: ['0b1010', '0o24', '0x1e']

### 입출력 및 PATH

#### PATH

In [106]:
x=input()

10

> 개인강의
>> Python_basic
>>> data,Python Basic.pyc

In [115]:
import os

#절대경로 구하기
os.path.dirname(os.path.abspath('data'))

'C:\\Users\\a\\Ana3\\개인강의\\Python_basic'

In [119]:
#상대경로 구하기
os.path.relpath('data','../../Untitled.ipynb')

'..\\개인강의\\Python_basic\\data'

In [124]:
#현재 프로그램의 실행 경로 구하기
os.getcwd()

'C:\\Users\\a\\Ana3\\개인강의\\Python_basic'

#### 입출력

In [235]:
file=open('data/data.txt','r')
# 'w'=쓰기모드(파일 위에 씌움), 'r'=읽기모드(파일을 읽기만 할때 사용, 'a'=추가모드(내용을 더 추가할 때 사용)
# 'r+'=읽기 및 쓰기, 'rb'=이진(binary)파일 읽기, 'wb'=이진 파일 쓰기, 'r+b'=이진 파일 읽기 및 쓰기

In [223]:
file

In [224]:
file.name

'data/data.txt'

In [225]:
line=file.read()
line

'안녕하세요. 현재 Python공부중입니다.'

In [226]:
with open('data/data.txt') as f:
    for line in f:
        print(line)

안녕하세요. 현재 Python공부중입니다.

In [263]:
#write
file01 = open('data/sample_data.txt','w')
file01.write('안녕하세요 write모듈을 사용하고 있습니다.')
file01.close()

In [258]:
file02 = open('data/sample_data.txt','r+')
file02.write('r+옵션을 적용하여 내용을 삭제 및 추가해봅시다.')
file02.close()

In [264]:
file03 = open('data/sample_data.txt','a')
file03.write('\na옵션을 적용하여 다음줄에 추가해봅시다.')
file03.close()

In [265]:
with open('data/sample_data.txt') as f:
    for line in f:
        print(line)

안녕하세요 write모듈을 사용하고 있습니다.

a옵션을 적용하여 다음줄에 추가해봅시다.

### Q4. naver 뉴스 중 하나를 텍스트로 저장 후 ipython notebook에 각 줄별로 출력하여 보시오
- 각 줄별 출력은 split함수를 사용하면 가능합니다.

### 제어문
#### if, while, for, boolean

In [318]:
data=['이건훈','정다운','이여진','강아영','박정환']
data

['이건훈', '정다운', '이여진', '강아영', '박정환']

In [269]:
type(data)

list

In [283]:
data[4]

'박정환'

In [319]:
for x in data:
    print(x)

이건훈
정다운
이여진
강아영
박정환

In [320]:
import copy
data_re=[[]]
data_re=copy.copy(data)
data_re

['이건훈', '정다운', '이여진', '강아영', '박정환']

In [321]:
data_re2=data
data_re2

['이건훈', '정다운', '이여진', '강아영', '박정환']

In [322]:
data_re is data_re2

False

In [323]:
data_re2.append('test')
data_re2

['이건훈', '정다운', '이여진', '강아영', '박정환', 'test']

In [324]:
data_re.append('test')
data_re

['이건훈', '정다운', '이여진', '강아영', '박정환', 'test']

In [352]:
listA = [1,2,3,4,5]
listB = copy.deepcopy(listA)

In [353]:
listA

[1, 2, 3, 4, 5]

In [354]:
listB

[1, 2, 3, 4, 5]

In [355]:
del listB[2]
listB

[1, 2, 4, 5]

In [356]:
#중복제거
list_data=set(listA+listB)
type(list_data)

set

In [357]:
list(list_data)

[1, 2, 3, 4, 5]

In [359]:
test_list = ['one','two','three']
type(test_list)

list

In [360]:
for i in test_list:
    print(i)

one
two
three

In [361]:
a = [(1,2),(3,4),(5,6)]
for (first,last) in a:
    print(first+last)

3
7
11

>if조건문
>>수행할 문장1
>>수행할 문장2

#### IF, Elif

In [380]:
money = 10
if(money > 0):
    print("현재 갖고 있는 금액은 %d원입니다." %money)
else:
    print("돈없다")

현재 갖고 있는 금액은 10원입니다.

In [385]:
go = ['taxi','bus','subway']
card =1
if('work' in go):
    print ("택시타")
elif card:
    print ("카드 있어 없어?")
else:
    print ("걸어 가~")

카드 있어 없어?

#### while, break

In [386]:
treeHit=0
while treeHit < 10:
    treeHit = treeHit+1
    print("나무를 %d번 찍었습니다" %treeHit)
    if treeHit==10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다

coffee = 10
money = 300
while(money>0):
    print("커피를 뽑았습니다")
    coffee=coffee-1
    print("현재 남은 커피 개수는 %d개 입니다" %coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다")
        break

#### For문

In [1]:
# 계속 했으니 패스..

### Q5. 70점이상 랜덤한 값을 입력하여 합격 불합격을 표시하시오.

In [3]:
import random

#데이터에서 랜덤한 값을 나타내줌
data = random.sample(range(100),10)

# 70점 이상이면 합격을 주고 아니면 불합격을 주시오

87점이므로 합격입니다.
61점이므로 불합격입니다.
98점이므로 합격입니다.
40점이므로 불합격입니다.
66점이므로 불합격입니다.
29점이므로 불합격입니다.
37점이므로 불합격입니다.
43점이므로 불합격입니다.
33점이므로 불합격입니다.
15점이므로 불합격입니다.

# 수고하셧습니다~

Reference

https://github.com/psygrammer/dprl/blob/master/part1/PyWeb/python_basic/ch01/psygrammer_pyweb_01.ipynb

https://github.com/psygrammer/psytracker/blob/master/part1/python/psytracker_0.ipynb

https://github.com/psygrammer/psytracker/blob/master/part1/python/Pytracker_1.ipynb

https://wikidocs.net/20